<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="container">
        <h1 class="titulo">Matemática Discreta</h1>
        <a class="button button-entrada" href="permutacaoS.html">Permutação Simples</a>
        <a class="button button-entrada" href="permutacaoR.html">Permutação com Repetição</a>
        <a class="button button-entrada" href="combinacaoS.html">Combinação Simples</a>
        <a class="button button-entrada" href="arranjoS.html">Arranjo Simples</a>
    </div>
</body>
</html>