<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permutação Simples</title>
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div id="permutacao-simples">
        <div class="container-calculadora">
            <h3 class="titulo">Permutação Simples</h3>
            <p>A permutação simples é o número de maneiras de organizar um conjunto de objetos distintos. A fórmula para calcular a permutação simples de n objetos é dada por:</p>
            <br>
            <p><strong>P(n) = n!</strong></p>
            <br>
            <strong>
                <p id="permutacao-simples-explicacao"></p>
            </strong>
            <input type="text" id="permutacao-simples-formula" value="Resultado: " readonly class="input">
            <input type="number" id="permutacao-simples-input" placeholder="Digite o valor de n" class="input">
            <button onclick="calcularPermutacaoSimples()" class="button button-calculadora">Calcular</button>
            <button onclick="limpar(document.getElementById('permutacao-simples'), document.getElementById('permutacao-simples-explicacao'))" class="button button-clear">C</button>
            <a href="index.html" class="button button-saida">Voltar</a>
        </div>
    </div>
</body>
</html>